@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Orbitron&family=Roboto:wght@100&display=swap');
.PLAYLIST {
	width: 100%;

	.content {
		h1 {
			text-align: center;
			color: rgb(0, 0, 0);
			font: 150px/1.4 'Nanum Myeongjo';
		}

		.lorem {
			text-align: center;
			margin-bottom: 60px;
		}

		article {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			text-align: right;
			transform: scale(1);
			opacity: 0.6;
			transition: 0.5s;
			&:hover {
				transform: scale(1.03);
				opacity: 1;
			}

			&:nth-of-type(even) {
				flex-direction: row-reverse;
				text-align: left;

				.Youtubebox {
					width: 43%;
				}
			}

			.Youtubebox {
				width: 40%;

				h2 {
					margin-left: 30px;
					position: relative;
					padding-bottom: 20px;
					margin-bottom: 20px;
					border-bottom: 1px solid black;
				}
				p {
					margin-left: 30px;
					margin-bottom: 30px;
				}
				span {
					margin-left: 30px;
				}
			}

			.pic {
				width: 55%;
				height: 50%;
				position: relative;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: scale(1.4);
				}
			}
		}
	}
}
