@import '../../../styles/Variable.scss';

.Gallery {
	width: 100%;
	.content {
		h1 {
			text-align: center;
			color: rgb(0, 0, 0);
			font: 150px/1.4 'Nanum Myeongjo';
		}
	}
	.loading {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.conBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 40px;
		position: relative;
		padding: 10px;

		&::before {
			content: '';
			position: absolute;
			top: 110%;
			left: 10px;
			transform: translate(0%, 50%);
			width: calc(100% - 20px);
			height: 10px;
			background: #a7a7a7;
		}
		h2 {
			width: 80%;
		}
		p {
			width: 50%;
		}
	}

	.topBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		padding: 10px;

		.btnSet {
			width: 50%;
			text-align: right;
			.on {
				color: #c79a9a;
			}
		}
		.searchBox {
			width: 50%;
			form {
				margin-right: 40%;
				placeholder {
					font-family: 'Nanum Myeongjo';
				}
				button {
					font-family: 'Nanum Myeongjo';
				}
			}
		}
	}
	.picFrame {
		width: 100%;

		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				padding: 10px;
				background: #ffffff;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

				.pic {
					width: 100%;
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #555;
					margin-top: 10px;
					margin-bottom: 40px;
				}
				.profile {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 20px;

					span {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $labtop) {
	.Gallery {
		.picFrame {
			article {
				width: 33.333%;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Gallery {
		.picFrame {
			article {
				width: 50%;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Gallery {
		.picFrame {
			article {
				width: 100%;
			}
		}
	}
}
