.news {
	width: 100%;
	padding: 10vw;
	display: flex;
	flex-wrap: wrap;

	.release {
		width: 100%;
		font: bold 40px/1 'arial';
		margin-bottom: 50px;
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 80%;
			height: 1px;
			background-color: #555;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(30%, 100%);
		}
	}

	h2 {
		font: bold 40px/1 'arial';
	}

	.postWrap {
		width: 80%;
		height: 600px;
		display: flex;
		flex-wrap: wrap;
		article {
			width: 80%;
			height: 30%;
			background: #e4e4dd;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			h2 {
				width: 40%;
				text-align: center;
			}
			p {
				width: 40%;
				text-align: center;
			}
		}
	}

	.imgBox {
		width: 20%;
		height: 600px;
		margin-bottom: 40px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.conBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		.txtBox {
			width: 50%;
			display: flex;
			flex-wrap: wrap;
			justify-content: right;
			h2 {
				width: 100%;
				text-align: right;
			}

			p {
				width: 60%;
				display: flex;
			}
		}

		.imgBox2 {
			width: 80%;
			height: 500px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
