* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	main {
		width: 100%;
		background: var(--bg);
		color: var(--color);
	}
	main.light {
		background: var(--bg);
		color: var(--color);
	}
	main.dark {
		background: var(--darkBg);
		color: var(--darkColor);
	}
}
html {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: #555;
	}
}

table {
	border-collapse: collapse;
}
fieldset {
	border: none;
}
.h {
	position: absolute;
	top: -99999px;
	opacity: 0;
}
