* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	background: #efefef;
}
html {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: #555;
	}
}

table {
	border-collapse: collapse;
}
fieldset {
	border: none;
}
.h {
	position: absolute;
	top: -99999px;
	opacity: 0;
}
