.menu {
	width: 260px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(97, 97, 97);
	background: linear-gradient(
		65deg,
		rgba(97, 97, 97, 1) 0%,
		rgba(90, 95, 124, 1) 41%,
		rgba(73, 71, 93, 1) 66%,
		rgba(75, 63, 80, 1) 100%
	);
	color: #fff;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	h1 {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	a {
		color: #fff;
	}

	li {
		display: flex;
		justify-content: center;
		padding: 20px;
		margin-bottom: 15px;
		border-radius: 5%;
		transition: 0.2s;

		&:hover {
			background: rgb(223, 231, 237);

			a {
				color: black;
			}
		}
	}
}
