@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Orbitron&family=Roboto:wght@100&display=swap');
.BRANIN {
	text-align: center;
	.content {
		h1 {
			font: bold 150px/1 'Nanum Myeongjo';
			color: black;
		}
	}
	figure {
		background-color: lightblue;
	}

	.memberBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.lorem {
			width: 100%;
			margin-bottom: 50px;
			color: #444444;
		}

		article {
			width: 30%;
			margin-bottom: 50px;
			&:hover {
				p {
					color: rgb(129, 129, 129);
				}
				h2 {
					transition: 0.5s;
					&::before {
						width: 60px;
					}
				}
			}

			.pic {
				width: 100%;
				height: 30vw;

				img {
					border-radius: 50%;
					width: 100%;
					height: 75%;
					object-fit: cover;
					transition: 0.5s;

					&:hover {
						transform: scale(105%);
					}
				}
			}

			h2 {
				margin-top: -90px;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translate(-50%, 0%);
					display: block;
					height: 2px;
					width: 0%;
					background: #555;
					transition: 0.5s;
				}
			}
		}
	}
}
