.footer {
	background: #8a8a8a;
	height: 25vh;

	.fooBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		position: relative;
		word-break: break-all;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 110%;
			transform: translate(10%, 0%);
			width: 80%;
			height: 2px;
			background: #b2b2b2;
		}
		h2 {
			width: 50%;
			padding: 20px;
			margin-left: 40px;
			color: #e1e1e1;
			font-size: 30px;
		}
		ul {
			width: 30%;
			text-align: right;
			display: flex;
			gap: 4vw;
			align-items: center;
			margin-left: 10%;

			li {
				color: #cecece;
			}
		}
		p {
			width: 20%;
			color: #dcdcdc;
			margin-left: 60px;
			font-size: 14px;
		}
	}

	.spanBox {
		width: 88%;
		display: flex;
		flex-wrap: wrap;
		text-align: right;
		span {
			width: 100%;
			color: #cbcbcb;
		}
	}
}

.laptop {
	.footer {
		height: auto;

		.fooBox {
			width: 100%;

			word-break: break-all;

			h2 {
				width: 30%;
			}
			ul {
				width: 60%;
				text-align: right;
				display: flex;
				gap: 4vw;
				align-items: center;
				margin-left: 1%;
				justify-content: right;

				li {
					color: #cecece;
				}
			}
			p {
				width: 20%;
				color: #dcdcdc;
				margin-left: 60px;
				font-size: 14px;
			}
		}

		.spanBox {
			width: 88%;
			display: flex;
			flex-wrap: wrap;
			text-align: right;
			span {
				width: 100%;
				color: #cbcbcb;
			}
		}
	}
}

.tablet {
	.footer {
		height: auto;

		.fooBox {
			width: 100%;

			word-break: break-all;

			h2 {
				width: 30%;
			}
			ul {
				width: 45%;
				justify-content: right;
			}
		}

		.spanBox {
			width: 88%;
			text-align: right;
			span {
				width: 100%;
				color: #cbcbcb;
			}
		}
	}
}

.mobile {
	.footer {
		background: #8a8a8a;
		height: auto;

		.fooBox {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;
			position: relative;
			word-break: break-all;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 110%;
				transform: translate(10%, 0%);
				width: 80%;
				height: 2px;
				background: #b2b2b2;
			}
			h2 {
				width: 50%;
				color: #e1e1e1;
				font-size: 30px;
				padding: 20px;
			}
			ul {
				width: 100%;
				padding: 20px;
				gap: 2vw;

				li {
					color: #cecece;
				}
			}
			p {
				width: 60%;
				color: #dcdcdc;
				margin-left: 60px;
				font-size: 14px;
			}
		}

		.spanBox {
			width: 88%;
			display: flex;
			flex-wrap: wrap;
			text-align: right;
			span {
				width: 100%;
				color: #cbcbcb;
			}
		}
	}
}
